<div class="dps-deck">
  <div class="upper-container">
    <div class="screen">Hello World!</div>
    <div class="volume-controls">
      <div class="volume-control"></div>
      <div class="volume-control"></div>
    </div>
  </div>
  <div class="slider">
    <div class="slider-button"></div>
    <div class="slider-line"></div>
  </div>
  <div class="button-grid">
    <div class="button green" id="1">
      <button class="nb-button" nbButton ghost (click)="button_click(1)"></button>
    </div>
    <div class="button green" id="2">
      <button class="nb-button" nbButton ghost (click)="button_click(2)"></button>
    </div>
    <div class="button green" id="3">
      <button class="nb-button" nbButton ghost (click)="button_click(3)"></button>
    </div>
    <div class="button blue" id="4">
      <button class="nb-button" nbButton ghost (click)="button_click(4)"></button>
    </div>
    <div class="button blue" id="5">
      <button class="nb-button" nbButton ghost (click)="button_click(5)"></button>
    </div>
    <div class="button blue" id="6">
      <button class="nb-button" nbButton ghost (click)="button_click(6)"></button>
    </div>
    <div class="button red" id="7">
      <button class="nb-button" nbButton ghost (click)="button_click(7)"></button>
    </div>
    <div class="button red" id="8">
      <button class="nb-button" nbButton ghost (click)="button_click(8)"></button>
    </div>
    <div class="button red" id="9">
      <button class="nb-button" nbButton ghost (click)="button_click(9)"></button>
    </div>
  </div>
</div>
