.right-column {
  max-height: 75vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.left-column {
  display: flex;
  justify-content: center;
}

#spotify-button {
  color: rgba(70, 236, 78, 0.964);
  margin-left: 50%;
}

#spotify-logo {
  margin-right: 0.5rem;
  height: 1.6rem;
}

#conf {
  width: 40vw;
}

a {
  color: inherit !important;
}

a:hover {
  color: rgb(48, 120, 201) !important;
  transition: 0.2s;
}
