#image {
  height: 500px;
  border-radius: 5%;
  margin-left: 25%;
}

.right-column {
  max-height: 75vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.left-column {
  display: flex;
  justify-content: center;
}

#spotify-button {
  margin-left: 75%;
}

#conf {
  width: 40vw;
}
