<main>
  <nb-layout withScroll>
    <nb-layout-header fixed>
      <p id="conf">DPS-Keypad Configuration Panel</p>
      <button id="spotify-button" nbButton (click)="loginSpotify()" status="success">Spotify Login</button>
    </nb-layout-header>

    <nb-layout-column class="left-column">
      <keypad></keypad>
    </nb-layout-column>

    <nb-layout-column class="right-column">
      <config></config>
    </nb-layout-column>

    <nb-layout-footer>Contact us</nb-layout-footer>
  </nb-layout>
</main>
